
body:not([class*="showScores"]) li.alice-carousel__stage-item > div:first-child > div:nth-child(2) > span,
body:not([class*="showScores"]) li.alice-carousel__stage-item > div:first-child > div:nth-child(6),
body:not([class*="showScores"]) li.alice-carousel__stage-item > div:first-child > div:nth-child(8) {
  visibility: hidden;
}

body:not([class*="showScores"]) div.nhl-l-section-bg__container.nhl-container > section:nth-child(1),
body:not([class*="showScores"]) div.nhl-l-section-bg__container.nhl-container > section:nth-child(2) {
  display: none;
}

main#main-content section div.nhl-l-section-bg__adv {
  display: none;
}